<div>
    <h2><a href='#/'>Plan List</a> &gt; {{plan.name}}</h2>

    <form class='form-horizontal'>
        <div class='control-group'>
            <label class='col-sm-2 control-label' for='name'>Plan Name</label>
            <div class='controls'>
                <input type='text' id='name' ng-model='plan.name' class='input-normal' style='width:80%'/>
            </div>
        </div>
        <div class='control-group'>
            <label class='col-sm-2 control-label' for='description'>Description</label>
            <div class='controls'>
                <textarea id='description' ng-model='plan.description' style='width:80%;height:50px'></textarea>
            </div>
        </div>
        <div class='control-group'>
            <label class='col-sm-2 control-label' for='duration'>Duration</label>
            <table style='border:0px'>
                <tr style='background-color: transparent;'>
                    <td>Start Date</td>
                    <td>
                        <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="plan.start_date" ng-required="true" close-text="Close" />
                    </td>
                </tr>
                <tr style='background-color: transparent;'>
                    <td>End Date</td>
                    <td>
                        <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="plan.end_date" ng-required="true" close-text="Close" />
                    </td>
                </tr>
            </table>
        </div>
        <div class='control-group'>
            <label class='col-sm-2 control-label' for='maintenanceAllowance'>Maintenance Allowance</label>
            <div class='controls'>
                <select ng-model='plan.maintenance_allowance' id='maintenanceAllowance' ng-options='item.value as item.name for item in allowances'/>
            </div>
        </div>
        <div class='control-group'>
            <label class='col-sm-2 control-label' for='description'>Engineers</label>
            <div class='controls'>
                <table style='width:80%'>
                    <thead>
                    <tr>
                        <th style='width:20px'><input type='checkbox' ng-click='toggleEngineers()' id='user_select_all'></></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th colspan='4' style='text-align:center'>Chapter Velocities
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>LS</th>
                        <th>RTS</th>
                        <th>RWH</th>
                        <th>UI</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat='user in plan.plan_contacts'>
                        <td style='width: 20px'>
                            <input type='checkbox' checked='checked' id='user_id_{{user.contact.id}}'></input>
                        </td>
                        <td>
                            <a href='#/users/detail/{{user.contact.id}}'>{{user.contact.first_name}} {{user.contact.last_name}}</a>
                        </td>
                        <td>{{user.contact.email}}</td>
                        <td ng-repeat='i in [0, 1, 2, 3]'>
                            <label class='radio inline'>
                                <input type='radio' name='contact_chapter_{{user.contact.id}}' value='{{i + 1}}' ng-model='user.chapter_id' data-ng-disabled='user.contact.velocities[i].velocity == 0'>
                                {{user.contact.velocities[i].velocity}}
                            </label>
                        </td>
                    </tr>
                    <tr ng-repeat='user in users'>
                        <td style='width: 20px'>
                            <input type='checkbox' id='user_id_{{user.id}}'></input>
                        </td>
                        <td>
                            <a href='#/users/detail/{{user.id}}'>{{user.first_name}} {{user.last_name}}</a>
                        </td>
                        <td>{{user.email}}</td>
                        <td ng-repeat='i in [0, 1, 2 ,3]'>
                            <label class='radio inline'>
                                <input type='radio' name='contact_chapter_{{user.id}}' value='{{i + 1}}' data-ng-disabled='user.velocities[i].velocity == 0'>
                                {{user.velocities[i].velocity}}
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class='control-group'>
            <div class='center buttons'>
                <a ng-click='cancel()' class='btn btn-sm btn-primary'>Cancel</a>
                <a ng-click='updatePlan()' class='btn btn-sm btn-primary'>Update Plan</a>
            </div>
        </div>
    </form>
</div>
