<h1>Plan List</h1>
<table class="table table-condensed">
    <thead>
        <tr>
            <td>Plan Name</td>
            <td>Description</td>
            <td>Engineers</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Created On</td>
            <td>Updated On</td>
            <td width='20px'></td>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat='plan in plans'>
        <td>{{plan.name}}</a></td>
        <td>{{plan.description | cut:true:100:'...'}}</td>
        <td>{{plan.plan_contacts.length}}</td>
        <td>{{plan.start_date}}</td>
        <td>{{plan.end_date}}</td>
        <td>{{plan.created_on | date:'medium'}}</td>
        <td>{{plan.updated_on | date:'medium'}}</td>
        <td nowrap><a ng-click='showSchedule(plan.id)' class='btn btn-small btn-primary'>schedule</a>&nbsp;
         <a ng-click='editPlan(plan.id)' class='btn btn-small btn-primary'>edit</a> &nbsp;
         <a ng-click='deletePlan(plan.id)' class='btn btn-small btn-danger'>delete</a></td>
    </tr>
    </tbody>
</table>
<a ng-click='createNewPlan()' class='btn btn-small btn-primary'>Create New Plan</a>
<a ng-click='showUsers()' class='btn btn-small btn-primary'>List Users</a>