<h2>Plan List</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <td>Plan Name</td>
            <td>Description</td>
            <td>Engineers</td>
            <td>Maintenace</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Created On</td>
            <td>Updated On</td>
            <td width='20px'></td>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat='plan in plans'>
        <td><a ng-click='editPlan(plan.id)'>{{plan.name}}</a></td>
        <td>{{plan.description | cut:true:100:'...'}}</td>
        <td>{{plan.plan_contacts.length}}</td>
        <td>{{plan.maintenance_allowance}}%</td>
        <td>{{plan.start_date | date: 'MM/dd/yyyy'}}</td>
        <td>{{plan.end_date | date: 'MM/dd/yyyy'}}</td>
        <td>{{plan.created_on | date:'medium'}}</td>
        <td>{{plan.updated_on | date:'medium'}}</td>
        <td nowrap><a ng-click='showSchedule(plan.id)' class='btn btn-xs btn-primary'>schedule</a>&nbsp;
         <a ng-click='deletePlan(plan.id)' class='btn btn-xs btn-danger'>delete</a></td>
    </tr>
    </tbody>
</table>
<a ng-click='createNewPlan()' class='btn btn-sm btn-primary'>Create New Plan</a>