<div>
    <h2><a href="#/">Plan List</a> &gt; Create New Plan</h2>

    <form class='form-horizontal'>
        <div class='control-group'>
            <label class='col-sm-2 control-label' for='name'>Plan Name</label>
            <div class='controls'>
                <input type='text' id='name' ng-model='plan.name'  style='width:80%' />
            </div>
        </div>
        <div class='control-group'>
            <label class='col-sm-2 control-label' for='description'>Description</label>
            <div class='controls'>
                <textarea id='description' ng-model='plan.description' style='width:80%;height:50px'></textarea>
            </div>
        </div>
        <div class='control-group'>
            <label class='col-sm-2 control-label' for='maintenanceAllowance'>Maintenance Allowance</label>
            <div class='controls'>
                <select ng-model='plan.maintenance_allowance' id='maintenanceAllowance' ng-options='item.value as item.name for item in allowances'/>
            </div>
        </div>
        <div class='control-group'>
            <label class='col-sm-2 control-label' for='duration'>Duration</label>
            <table style='border:0px'>
                <tr style='background-color: transparent;'>
                    <td>Start Date</td>
                    <td>
                        <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="plan.start_date" ng-required="true" close-text="Close" />
                    </td>
                </tr>
                <tr style='background-color: transparent;'>
                    <td>End Date</td>
                    <td>
                        <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="plan.end_date" ng-required="true" close-text="Close" />
                    </td>
                </tr>
            </table>
        </div>
        <div class='control-group'>
            <div class='center buttons'>
                <a ng-click='cancel()' class='btn btn-sm btn-primary'>Cancel</a>
                <a ng-click='createPlan()' class='btn btn-sm btn-primary'>Create New Plan</a>
            </div>
        </div>
    </form>
</div>
