<div>
    <h1><a href="#/">Plan List</a> &gt; Create New Plan</h1>

    <form class='form-horizontal'>
        <div class='control-group'>
            <label class='col-sm-2 control-label' for='name'>Plan Name</label>
            <div class='controls'>
                <input type='text' id='name' ng-model='plan.name'  style='width:80%' />
            </div>
        </div>
        <div class='control-group'>
            <label class='col-sm-2 control-label' for='description'>Description</label>
            <div class='controls'>
                <textarea id='description' ng-model='plan.description' style='width:80%'></textarea>
            </div>
        </div>
        <div class='control-group'>
            <div class='center buttons'>
                <a ng-click='cancel()' class='btn btn-small btn-primary'>Cancel</a>
                <a ng-click='createPlan()' class='btn btn-small btn-primary'>Create New Plan</a>
            </div>
        </div>
    </form>
</div>
