<div>
    <h1>
        <a href='#/'>Plan List</a> &gt; <a href='#/detail/{{plan.id}}'>{{plan.name}}</a> &gt; Schedule
    </h1>

    <div>
        <b>Start</b>: {{plan.start_date | date:'MM/dd/yyyy'}} <b>End</b>: {{plan.end_date | date:'MM/dd/yyyy'}}
    </div>
    <br />
    <div>
        <table style='width: 80%'>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th colspan='4' style='text-align: center'>Chapter Velocities</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>LS</th>
                    <th>RTS</th>
                    <th>RWH</th>
                    <th>UI</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='user in plan.plan_contacts'>
                    <td><a href='#/users/detail/{{user.contact.id}}'>{{user.contact.first_name}}
                            {{user.contact.last_name}}</a></td>
                    <td>{{user.contact.email}}</td>
                    <td nowrap>
                        <input type='radio' ng-change='updateSchedule()' name='contact_chapter_{{user.contact.id}}' value='1' ng-model='user.chapter_id' data-ng-disabled='user.contact.velocities[0].velocity == 0'>
                        <label>LS {{user.contact.velocities[0].velocity}}</label>
                    </td>
                    <td nowrap>
                        <input type='radio' ng-change='updateSchedule()' name='contact_chapter_{{user.contact.id}}' value='2' ng-model='user.chapter_id' data-ng-disabled='user.contact.velocities[1].velocity == 0'>
                        <label>RTS {{user.contact.velocities[1].velocity}}</label>
                    </td>
                    <td nowrap>
                        <input type='radio' ng-change='updateSchedule()' name='contact_chapter_{{user.contact.id}}' value='3' ng-model='user.chapter_id' data-ng-disabled='user.contact.velocities[2].velocity == 0'>
                        <label>RWH {{user.contact.velocities[2].velocity}}</label></td>
                    <td nowrap>
                        <input type='radio' ng-change='updateSchedule()' name='contact_chapter_{{user.contact.id}}' value='4' ng-model='user.chapter_id' data-ng-disabled='user.contact.velocities[3].velocity == 0'>
                        <label>UI {{user.contact.velocities[3].velocity}}</label></td>
                </tr>
            </tbody>
        </table>
    </div>

    <br /> <br />
    <div>
        <span ng-repeat='l in legend'> <span style='background: {{l.color}}'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{l.name}}&nbsp;&nbsp;&nbsp;
        </span>
    </div>
    <canvas id='myChart'></</canvas>
   

</div>
