<div>
    <h1>
        <a href='#/'>Plan List</a> &gt; <a href='#/detail/{{plan.id}}'>{{plan.name}}</a> &gt; Schedule
    </h1>

    <div>
        Start: {{plan.start_date}}
        End: {{plan.end_date}}
    </div>
    <div>
        <table>
            <thead>
                <td colspan='5'>Engineers</td>
            </thead>
            <tr ng-repeat='user in plan.plan_contacts'>
                <td><a href='#/users/detail/{{user.contact.id}}'>{{user.contact.first_name}}
                        {{user.contact.last_name}}</a></td>
                <td nowrap><input disabled='true' type='radio' name='contact_chapter_{{user.contact.id}}' value='1'
                    ng-model='user.chapter_id'><label>{{user.contact.velocities[0].velocity}}</label></td>
                <td nowrap><input disabled='true' type='radio' name='contact_chapter_{{user.contact.id}}' value='2'
                    ng-model='user.chapter_id'><label>{{user.contact.velocities[1].velocity}}</label></td>
                <td nowrap><input disabled='true' type='radio' name='contact_chapter_{{user.contact.id}}' value='3'
                    ng-model='user.chapter_id'><label>{{user.contact.velocities[2].velocity}}</label></td>
                <td nowrap><input disabled='true' type='radio' name='contact_chapter_{{user.contact.id}}' value='4'
                    ng-model='user.chapter_id'><label>{{user.contact.velocities[3].velocity}}</label></td>
            </tr>
        </table>
    </div>

    <div ng-app="chartjs-directive">
        <chart value="myChart" type='Bar' width='1200'></chart>
    </div>
    <div> 
        <span ng-repeat='l in legend'>
            <span style='background:{{l.color}}'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> {{l.name}}&nbsp;&nbsp;&nbsp;
        </span>
    </div>
</div>
