div.centered {
	margin: 0 auto;
	text-align: left;
	width: 90%;
}

div.buttons {
	text-align: center;
	margin: 10px;
}

td a {
    cursor: pointer;
    cursor: hand;
}

body {
    padding:0px;
    font-size: 95%;
} 