<h1>User List</h1>
<table class="table table-condensed">
    <thead>
        <tr>
            <td>Email</td>
            <td>Name</td>
            <td>Created On</td>
            <td>Updated On</td>
            <td width='10px'></td>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat='user in users'>
        <td><a ng-click='editUser(user.id)'>{{user.email}}</a></td>
        <td><a ng-click='editUser(user.id)'>{{user.first_name}} {{user.last_name}}</a></td>
        <td>{{user.created_on | date:'medium'}}</td>
        <td>{{user.updated_on | date:'medium'}}</td>
        <td nowrap>
            <a ng-click='editUserSchedule(user.id)' class='btn btn-xs btn-primary'>schedule</a>&nbsp;
            <a ng-click='deleteUser(user.id)' class='btn btn-xs btn-danger'>delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a ng-click='createNewUser()' class='btn btn-xs btn-primary'>Create New User</a>